:root {
    background-color: #ecf5ff;
    font-size: 150%;
  }
  
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  .question{
	  background-color: bisque;
	  margin : 20px
  }
  .questioncontainer{
	  border-style: solid;
	  border-width: 1.5cm;
	  border-color: yellow;
	  
  }
  .question-ans{
	  margin: 15px;
	  margin-left:40px ;
  }
  #result{
	  margin: 20px;
	  background-color:#00ff9d;
	  font-size: larger;
	  font-weight: bold;
	  text-align: center;
	  padding: 15px 32px;
	  border: none;
	  border-radius: 12px;
	  
  }